.contact-form .container .row .form-box {
    background-color: var(--light-grey);
    border-radius: 10px;
    padding: 2rem 4rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1),
            0 2px 4px rgba(0, 0, 0, 0.06);
}