.recipe-card {
    max-width: 900px;
    margin: auto;
    border-radius: 10px;
    background: var(--white);
    border: none;
}

.card-body .recipe-title {
    font-size: 1.75rem;
    font-weight: bold;
    color: #4a2e20;
}

.section-title {
    font-size: 1.3rem;
    font-weight: bold;
    color: #3a1c12;
    border-bottom: 2px solid #dcc2a8;
    display: inline-block;
    padding-bottom: 5px;
}

.list-group .list-group-item {
    background: var(--light-grey);
    font-size: 1rem;
    font-weight: 500;
    color: #3a1c12;
    border-radius: 5px;
    margin: 3px 0;
}


@media (max-width: 768px) {
    .recipe-card {
        max-width: 90%;
        padding: 1rem;
    }

    .card-body .recipe-title {
        font-size: 1.5rem;
    }

    .section-title {
        font-size: 1.2rem;
    }

    .list-group .list-group-item {
        font-size: 0.9rem;
    }
}

@media (max-width: 576px) {
    .recipe-card {
        padding: .7rem;
    }

    .recipe-title {
        font-size: 1.3rem;
    }

    .section-title {
        font-size: 1rem;
    }

    .list-group .list-group-item {
        font-size: 0.8rem;
    }
}